@model Netflix.Web.ViewModels.LoginViewModel;

<div>
    <form asp-action="Login" asp-controller="Authentication" method="post">

        <div class="mb-3 row">
            @Html.LabelFor(m => Model.UserName, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBox("UserName", @Model?.UserName, new { @class = "form-control", @maxlength = "50", @min = "2" })
            </div>
        </div>
        <div class="mb-3 row">
            @Html.LabelFor(m => Model.Password, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.Password("password", @Model?.Password, new { @class = "form-control" })
            </div>
        </div>
        @if (ViewBag.IsInvalidCreds != null && ViewBag.IsInvalidCreds)
        {
            <div class="mb-3 row text-danger">
                <label class="col-sm-2 col-form-label">Email and password is invalid</label>
            </div>
        }


        <div class="mb-3 row text-danger">
            @Html.CheckBox("AgreeTerms", @Model?.AgreeTerms) I agree to terms
        </div>



        <div class="mb-3 row">
            <button class="btn btn-success" type="submit">Login</button>

        </div>


    </form>
</div>